# Specific logic for humidity sensor +automate HRU44
# Start
switch:
  - platform: modbus_controller
    modbus_controller_id: wtw
    name: "Zone 3 flow enable"
    id: zone3_flow_enable
    register_type: holding
    address: 2215        # 42216 - 40001
    bitmask: 1
    entity_category: config
number:
  - platform: modbus_controller
    modbus_controller_id: wtw
    name: "Zone 3 flow setpoint (m3/h)"
    id: zone3_flow_setpoint
    register_type: holding
    address: 2214        # 42215 - 40001
    unit_of_measurement: "m³/h"
    min_value: 0
    max_value: 399
    step: 1
    entity_category: config
button:
  - platform: template
    name: "Badkamer boost (Zone 3: 399 m³/h)"
    on_press:
      - switch.turn_on: zone3_flow_enable
      - delay: 200ms
      - number.set:
          id: zone3_flow_setpoint
          value: 399
# End
sensor:
  - name: ${a_10}
    address: 10
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_11}
    address: 11
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_12}
    address: 12
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_13}
    address: 13
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_14}
    address: 14
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_15}
    address: 15
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_16}
    address: 16
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_100}
    address: 100
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_101}
    address: 101
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_102}
    address: 102
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}
  - name: ${a_103}
    address: 103
    value_type: U_WORD
    register_type: holding
    state_class: measurement
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    icon: mdi:information-box
    skip_updates: ${skip_updates.advanced}

number:
  # Changing these will also make you change your yaml files: 
  - name: ${a_0}
    address: 0
    value_type: U_WORD
    register_type: holding
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    skip_updates: ${skip_updates.advanced}
    icon: mdi:cog
    min_value: 1
    max_value: 247
    step: 1
  - name: ${a_1}
    address: 1
    value_type: U_WORD
    register_type: holding
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    skip_updates: ${skip_updates.advanced}
    icon: mdi:cog
    min_value: 0
    max_value: 4
    step: 1
  - name: ${a_2}
    address: 2
    value_type: U_WORD
    register_type: holding
    platform: modbus_controller
    modbus_controller_id: ${modbus_id}
    skip_updates: ${skip_updates.advanced}
    icon: mdi:cog
    min_value: 0
    max_value: 2
    step: 1
